#success {
  display: none;
  color: #00FF00;
}

#errorSummary {
  height: 40px;
  color: #FF0000;
}

.field-error{
  border: 2px solid #FF0000;
}

.field-valid {
  border: 2px solid #00FF00;
}
